/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Andrew's custom styles
   ========================================================================== */
























































html{
    background-color: #202020;
    background-image: url('../img/volaris/full_background.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    position: absolute;
    color: #FFF;
}

#loader{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10000000000000000;
    background-image: url('../img/volaris/bg_loader.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#loader img{
    position: absolute;
    margin: auto;
    top: 400px;
    right: 0;
    left: 0;
    bottom: 0;

    -webkit-animation: loading 2.8s ease-in-out infinite ;
    animation: loading 2.8s ease-in-out infinite ;

}

@-webkit-keyframes loading{
    100%{ -webkit-transform:rotate(-360deg);}
}

@keyframes loading{
    100%{ transform:rotate(-360deg);}
}

#fullwrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 800px;
}

#blasfemiawrapper{
    position: relative;
    width: 100%;
    height: 100%;
}

#blasfemiamenu-btn{
    background-image: url('../img/twitter-btn.svg');

    position: fixed;
    box-shadow: 2px 2px 8px #3a0838;

    width: 50px;
    height: 50px;
    border: 1px solid #8dc72a;

    margin-left: 10px;

    z-index: 100;

    -webkit-transition: all .7s;
    transition: all .7s;
    transition-timing-function: cubic-bezier(.79,.02,.36,.97);
    -webkit-transition-timing-function: cubic-bezier(.79,.02,.36,.97);

}


#blasfemiamenu-btn:hover{
    cursor: pointer;
    background-image: url('../img/twitter-btn-hover.svg');
}

#share-btn a{
    background-image: url('../img/fb-btn.svg');

    position: fixed;
    box-shadow: 2px 2px 8px #3a0838;

    width: 50px;
    height: 50px;
    border: 1px solid #8dc72a;

    margin-left: 10px;
    top: 65px;

    z-index: 100;

    -webkit-transition: all .7s;
    transition: all .7s;
    transition-timing-function: cubic-bezier(.79,.02,.36,.97);
    -webkit-transition-timing-function: cubic-bezier(.79,.02,.36,.97);
}

#share-btn a:hover{
    cursor: pointer;
    background-image: url('../img/fb-btn-hover.svg');
}

#about-btn{
    background-image: url('../img/about-btn.svg');

    position: fixed;
    box-shadow: 2px 2px 8px #3a0838;

    width: 50px;
    height: 50px;
    border: 1px solid #8dc72a;

    margin-left: 10px;
    top: 130px;

    z-index: 100;

    -webkit-transition: all .7s;
    transition: all .7s;
    transition-timing-function: cubic-bezier(.79,.02,.36,.97);
    -webkit-transition-timing-function: cubic-bezier(.79,.02,.36,.97);

}


#about-btn:hover{
    cursor: pointer;
    background-image: url('../img/about-btn-hover.svg');
}



.menu-Close{
    background-image: url('../img/close-btn.svg')!important;
}

.menu-Close:hover{
    background-image: url('../img/close-btn-hover.svg')!important;
}

.menubtn-enter{
    margin-left: 500px !important;
}

#blasfemiamenu-wrapper{
    position: absolute;

    width: 500px;
    height: 600px;

    margin-left: -500px;

    z-index: 100;

    box-shadow: 0px 0px 20px #000;

    -webkit-transition: all .7s;
    transition: all .7s;
    transition-timing-function: cubic-bezier(.79,.02,.36,.97);
    -webkit-transition-timing-function: cubic-bezier(.79,.02,.36,.97);
}


#blasfemiamenu-wrapper a{
    text-decoration: none;
    color: #fff;
    font-family: 'Lato', sans-serif ;
    font-weight: Bold;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 50px;
}

#about-wrapper{
    background-color: #230b1e;

    position: absolute;

    width: 500px;
    height: 700px;

    margin-left: -500px;

    z-index: 100;

    box-shadow: 0px 0px 20px #000;

    -webkit-transition: all .7s;
    transition: all .7s;
    transition-timing-function: cubic-bezier(.79,.02,.36,.97);
    -webkit-transition-timing-function: cubic-bezier(.79,.02,.36,.97);

}

#about-wrapper h1{
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;

    width: 500px;
    height: 70px;
    margin: 25px 0 20px 0;
}

#about-wrapper p{
    position: relative;
    font-family: 'Lato', sans-serif ;
    font-size: 1.2em;
    line-height: 1.1em;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    font-weight: 500;
    text-align: left;
    width: 400px;
    height: auto;

    margin: auto;
    left: 0;
    right: 0;
    color: #fff;
}

    #about-wrapper ul{
        width: 400px;
        margin: auto;
        left: 0; right: 0;
        margin-top: 15px;
        margin-bottom: 30px;
        padding: 0;
        list-style: none;
        color: #fff;
    }

        #about-wrapper .blueFont{
            color: #69ace2;
        }

.pinchegraff{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 100%;
    mix-blend-mode: overlay;
    opacity: 0.4;
    overflow: hidden;
}

.pinchegraff img{
    width: 100%;
}

.vignete{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
}

.vignete img{
    width: 100%;
    height: 100%;
}

.pincheinter{
    font-family: 'Lato', sans-serif;
    color: #990000;
    letter-spacing: 8px;
    font-size: 30px;
}

.menu-enter{
    margin-left: 0px !important;
}

#svgswrapper{

    position: absolute;
    width: 100%;
    height: 100%;

    /*max-width: 1080px;*/

    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.svgbox, .stonebox{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

    /* VOLARIS PROMOS */


        .volarisPromo{
            position: absolute;
            width: 1050px;
            height: 515px;
            margin: auto;
            top: 0; bottom: 0; left: 0; right: 0;
            border-radius: 7px;
            overflow: hidden;
            box-shadow: 2px 2px 8px #3a0838;

            font-family: 'Lato', sans-serif;
        }
            .bgGreen{
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #8dc72a;
            }
            .bgBlue{
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #69ace2;
            }
            .bgPurple{
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #a12787;
            }

            .volarisPromo .innerBoxes{
                position: relative;
                height: 100%;

                float: left;
                display: inline-block;
                vertical-align: top;
                zoom: 1; /* Fix for IE7 */
                *display: inline; /* Fix for IE7 */
                margin: 0;

                text-align: right;
                color: #fff;
            }
                .volarisPromo .fullBox{
                    width: 100%;
                }
                    .volarisPromo .fullBox h1{
                        width: 100%;
                        height: 410px;
                        margin: auto;
                        top: 0; bottom: 0;
                        text-align: center;
                        font-family: 'Lato', sans-serif;
                        font-weight: 700;
                        font-size: 5em;
                        line-height: 1em;

                        text-shadow: 2px 2px 3px #6b9922;
                    }

                .volarisPromo .leftBox{
                    width: 66%;
                }
                .volarisPromo .rightBox{
                    width: 34%;
                }

                    .volarisPromo .introPromo{
                        font-size: 2.1em;
                        font-weight: 300;
                        margin-top: 10px;
                        margin-bottom: 30px;
                        line-height: 1.3em;
                        padding-right: 80px;
                    }

                    .volarisPromo .moneyPromo h3{
                        margin: 0;
                        font-size: 13em;
                        line-height: 1em;
                        font-weight: 700;
                        padding-right: 80px;
                    }
                        .volarisPromo .moneyPromo h3 .little{
                            position: absolute;
                            margin-top: -30px;
                            font-size: 0.2em;
                            font-weight: 300;
                        }

                        .volarisPromo .moneyPromo{
                            margin-bottom: 15px;
                        }

                        .volarisPromo .moneyPromo h5{
                            margin: 0;
                            font-size: 2.8em;
                            font-weight: 300;
                            padding-right: 80px;
                        }

                        .volarisPromo .footerPromo{
                            padding-right: 80px;
                        }

                        .volarisPromo .legalPromo{
                            margin-top: 15px;
                            font-size: .9em;
                            font-weight: 300;
                        }


                    .volarisPromo .innerRows{
                        position: relative;
                        width: 100%;
                        height: 116px;
                        margin: 0;
                    }

                    .volarisPromo .volarisSquares{
                        position: relative;
                        float: right;
                        width: 33.333%;
                        height: 100%;
                        text-align: center;
                        color: #fff;
                    }

                        .volarisPromo .innerRows .volarisSquares{
                            background-color: #a3cd65;
                        }

                        .volarisPromo .firstRow .firstSquare{
                            background-color: #71a7d0;
                            line-height: 116px;
                            font-weight: 300;
                        }
                            .volarisPromo .firstRow .firstSquare img{
                                position: absolute;
                                width: 78%;
                                margin: auto;
                                top: 0; bottom: 0; left: 0; right: 0;
                            }


                        .volarisPromo .firstRow .secondSquare{
                            background-color: #7eb2d7;
                        }
                            .volarisPromo .firstRow .secondSquare .innerSquare{
                                position: absolute;
                                width: 100%;
                                height: 50%;
                                margin: auto;
                                top: 0; bottom: 0; left: 0; right: 0;
                                line-height: 1.4em;
                            }
                                .volarisPromo .firstRow .secondSquare .innerSquare .firstLine{
                                    font-size: 2em;
                                }

                                .volarisPromo .firstRow .secondSquare .innerSquare .secondLine{
                                    font-size: 1.1em;
                                }


                        .volarisPromo .secondRow .firstSquare{
                            background-color: #d5a6cb;
                        }
                            .volarisPromo .secondRow .firstSquare .innerSquare{
                                position: absolute;
                                width: 100%;
                                height: 68%;
                                margin: auto;
                                top: 0; bottom: 0; left: 0; right: 0;
                                font-size: 1.2em;
                                line-height: 1.4em;
                            }



                    .volarisPromo .volarisBottom{
                        position: absolute;
                        width: 100%;
                        height: 95px;
                        bottom: 0;
                        background-color: #000;
                    }

                        .volarisPromo .volarisBottom img{
                            position: absolute;
                            margin: auto;
                            top: 0; bottom: 0; left: 0; right: 0;
                            width: 70%;
                            left: 0;
                        }
    /* END VOLARIS PROMOS */

.blasfemiastotales{
    position: absolute;
    width: 380px;
    height: 90px;

    margin: auto;
    top: 10px;
    left: 0; right: 0;

    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
    line-height: 1.2em;
    z-index: 50;
}



.blasfemiastotales p{
    margin: 0;
}
    .blasfemiastotales p .bolder{
        font-weight: 700;
    }

#volarisCountdown{
    color: #fff;
    font-family: 'Orbitron', sans-serif;
}

.promocionActual{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 50px;
    font-family: 'Lato', sans-serif;
}
    .promocionActual p{
        font-size: 1.2em;
        font-weight: 500;
        text-align: center;
        color: #fff;
    }

.spitpos{
    z-index: 99;
}

.spitpos img{
    width: 100%;
}






.stonebox img{
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
    opacity: 1;
}
































































/* ==========================================================================
   Responsive classes
   ========================================================================== */

@media screen and (max-width: 640px){
    #blasfemiamenu-wrapper, #about-wrapper{
        width: 80% !important;
        margin-left: -80%;
        height: 100% !important;
        overflow: scroll;
    }

    .menubtn-enter{
        margin-left: 80% !important;
    }
    #blasfemiamenu-btn, #about-btn, #share-btn a{
        margin-left: 0px;
    }
    #blasfemiamenu-wrapper a, #about-wrapper{
        width: 200px;
        font-size: 10px;
    }

    #about-wrapper h1, #about-wrapper p{
        width: 80% !important;
    }

    .pincheinter{
        font-size: 18px !important;
    }
}

@media screen and (max-width: 640px){
    .blasfemiastotales{
        width: 120px;
        line-height: 22px;
        top: 10px;
        font-size: 22px;
    }
}


@media screen and (min-width: 992px) and (max-width: 1199px){
    /* VOLARIS PROMO BOX */
        .volarisPromo{
            width: 840px;
            height: 435px;
        }

        .volarisPromo .fullBox h1{
            height: 330px;
            font-size: 4em;
        }

        .volarisPromo .introPromo{
            font-size: 1.6em;
            margin-top: 20px;
        }

        .volarisPromo .moneyPromo h3{
            font-size: 9.5em;
        }

        .volarisPromo .moneyPromo h5{
            font-size: 2.7em;
        }

        .volarisPromo .footerPromo{
            font-size: .9em;
        }

        .volarisPromo .innerRows{
            height: 96px;
        }

        .volarisPromo .firstRow .firstSquare{
            line-height: 96px;
        }

        .volarisPromo .firstRow .secondSquare .innerSquare .firstLine{
            font-size: 1.6;
        }

        .volarisPromo .firstRow .secondSquare .innerSquare .secondLine{
            font-size: .9em;
        }

        .volarisPromo .secondRow .firstSquare .innerSquare{
            font-size: 1em;
            line-height: 1.2em;
            height: 60%;
        }
    /* END VOLARIS PROMO BOX*/
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

.infront{
    z-index: 10000000000;
}

.hashtag{
    color: #69ace2;
    font-size: 1.4em;
    line-height: 1.2em;
}

.reminder{
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.purpleFont{
    color: #a12787;
}


/*
 * Image replacement
 */



.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
